h4 {
  margin: 10px 0 30px 0;
  letter-spacing: 10px;
  font-size: 20px;
  color: #111;
  font: Arial;
}

h3 {
  font: Arial;
  margin: 10px 0 30px 0;
  letter-spacing: 20px;
  font-size: 30px;
  color: #111;
}

.carousel_buttons {
  align-items: center;
}

.carousel .find_out_more {
  position: absolute;
  margin: 20em
}

.container {
  padding: 10px 10px;
}

.container .skills {
  padding: 80px 120px;
}

.aaron_image {
  border-radius: 50%;
  width: : auto
}

.profile_photo {
  padding-right: 2em
}

.carousel-inner img {
  -webkit-filter: grayscale(50%);
  filter: grayscale(50%);
  /* make all photos black and white */
  width: 100%;
  /* Set width to 100% */
  margin: auto;
}

.carousel-caption h3 {
  color: #fff !important;
}

.jumbotron {
  height: auto;
  width: 95%;
  margin-left: 2.5%;
}

.bg-1 {
  background: #2d2d30;
  color: #bdbdbd;
}

.bg-1 h3 {
  color: #fff;
}

.bg-1 p {
  font-style: italic;
}

.list-group-item:first-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.list-group-item:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.thumbnail {
  padding: 0 0 15px 0;
  border: none;
  border-radius: 0;
}

.thumbnail p {
  margin-top: 15px;
  color: #555;
}

.btn {
  padding: 10px 20px;
  color: #f1f1f1;
  border-radius: 0;
  transition: .2s;
}

.btn:hover, .btn:focus {
  border: 1px solid #333;
  background-color: #fff;
  color: #000;
}

.modal-header, h4, .close {
  background-color: #333;
  color: #fff !important;
  text-align: center;
  font-size: 30px;
}

.modal-header, .modal-body {
  padding: 40px 50px;
}

.nav-tabs li a {
  color: white;
}

#googleMap {
  width: 100%;
  height: 400px;
}

.projects_symbol {
  font-size: 50px;
  width: 100%;
  float: left;
}

.navbar {
  font-family: Montserrat, sans-serif;
  margin-bottom: 0;
  background-color: #2d2d30;
  border: 0;
  font-size: 11px !important;
  letter-spacing: 4px;
  opacity: 1;
}

.navbar li a, .navbar .navbar-brand {
  color: #d5d5d5 !important;
}

.navbar-nav li a:hover {
  color: #fff !important;
}

.navbar-nav li.active a {
  color: #fff !important;
  background-color: #29292c !important;
}

.nav-tabs>li.active>a {
  color: black;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}

.nav-tabs>li>a:hover {
  color: black;
  cursor: default;
  background-color: #white;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
}

.open .dropdown-toggle {
  color: #fff;
  background-color: #555 !important;
}

.dropdown-menu li a {
  color: #000 !important;
}

.dropdown-menu li a:hover {
  background-color: red !important;
}

.navbar-nav li.active a {
  color: #fff !important;
  background-color: #000 !important;
  opacity: 90%
}

#version1modal .table {
  color: black
}

#openetmodal .table {
  color: black
}

#halfordsmodal .table {
  color: black
}

footer {
  background-color: #2d2d30;
  color: #f5f5f5;
  padding: 32px;
}

footer a {
  color: #f5f5f5;
}

footer a:hover {
  color: #777;
  text-decoration: none;
}

#comments {
  height: 130px;
}

#experience>img {
  border-radius: 20%
}

.conatiner .cvButton a:hover {
  color: black
}

textarea {
  resize: none;
}

.skillsTips {
  color: white;
}

.skillsTips:hover {
  color: white;
}

.cd-fixed-bg {
  min-height: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
}

.cd-fixed-bg.cd-bg-1 {
  background-image: url("images/education.jpg");
}

#education .tab-content .table {
  background-color: white;
}

@media (min-width: 501px) {
  body {
    font: 400 25px/1.8 Lato, sans-serif;
    color: #777;
  }
  .linkedin_symbol {
    float: left;
    width: 50%;
    font-size: 50px;
  }
  .github_symbol {
    font-size: 50px;
  }
  .skype_symbol {
    font-size: 50px;
    float: left;
    width: 50%;
  }
  .gmail_symbol {
    font-size: 50px;
  }
  .linkedin_symbol1 {
    margin-left: 1.5em;
    width: 50%;
    font-size: 50px;
  }
  .github_symbol1 {
    margin-left: 1.5em;
    font-size: 50px;
    width: 50%;
  }
  .skype_symbol1 {
    margin-left: 1.5em;
    font-size: 50px;
    width: 50%;
  }
  .gmail_symbol1 {
    margin-left: 1.5em;
    font-size: 50px;
    width: 50%;
  }
  .container {
    width: 75%
  }
}

@media(max-width:500px) {
  body {
    font: 400 15px/1.8 Lato, sans-serif;
    color: #777;
  }
  .linkedin_symbol {
    padding-left: 20px;
    width: 25%;
    float: left;
    font-size: 50px;
  }
  .github_symbol {
    padding-left: 20px;
    font-size: 50px;
    width: 25%;
    float: left;
  }
  .skype_symbol {
    padding-left: 20px;
    float: left;
    font-size: 50px;
    width: 25%;
  }
  .gmail_symbol {
    padding-left: 20px;
    float: left;
    width: 25%;
    font-size: 50px;
  }
  .navbar-form .form-control {
    margin-left: 0.5em;
  }
  .linkedin_symbol1 {
    padding-left: 20px;
    float: left;
    font-size: 50px;
    width: 25%;
  }
  .github_symbol1 {
    padding-left: 20px;
    float: left;
    font-size: 50px;
    width: 25%;
  }
  .skype_symbol1 {
    padding-left: 20px;
    float: left;
    font-size: 50px;
    width: 25%;
  }
  .gmail_symbol1 {
    padding-left: 20px;
    float: left;
    font-size: 50px;
    width: 25%;
  }
  .container {
    width: 100%
  }
  #home {
    width: 100%
  }
}

@media(max-width:800px) {
  .navbar-collapse {
    width: auto;
  }
  .google_map {
    width: 75%;
  }
  .table th, .table td {
    border-top: none !important;
  }